
body {
  margin: 0;
  /* background-image: linear-gradient(to right,#eeaeca,#e294e9); */
background-image: url("./Day.png");
background-repeat: no-repeat;
background-size: cover;
/* background-color:lightblue; */

}

.bottom{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin:1 rem auto;
  padding:1rem;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.2);
  color:white;

}

.weather{

}

h1 {
  
  margin-left: 20%;
  /* text-align: center; */
  font-size: 50px;
  color:white;
  
  
}
h2{
  margin-left: 20%;
  font-size: 70px;
  color:white;

 
}
h3{
 margin-left: 20%;
 margin-bottom: 4rem;
 font-size: 150%;
 color:white;
}

h4{
  margin-left: 20%;
  color:white;
}

.sunrise, .sunset , .humidity, .timezone{
  flex-direction: row;

}

h3{
  color :white;
  margin-left: 20%;
}

 .day{
  background-image: url("./Day.png");
background-repeat: no-repeat;
background-size: cover;
}

.night{
  background-image: url("./night.png");
  background-repeat: no-repeat;
  background-size: cover;
  } 

  .set{
  background-image: url("./sunset.png");
  background-repeat: no-repeat;
  background-size: cover;

  }

.weatherStyle{
  margin-left: 20%;

  }

  .weatherStyle , .h3{
    flex-direction: column;
   
  }
  .spinner {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    animation: bg 1s;
  }

  



